@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');


:root {
    /* Colors */

    --cor1: #FDA854;
    --cor2: #EBEAEC;
    --cor3: #F0F1ED;

    /* Fonts */

    --font1: 'Poppins', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}
