@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&family=Roboto:wght@100;300;500;700&display=swap');

:root {
    /* Font */
    --fontpadrao: 'Raleway', Arial, sans-serif;

    /* Colors */
    --cor1: #FF1339;
    --cor2: #FF3651;
    --cor3: #03A688;
    --cor4: #025939;
    --cor5: #383838;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--fontpadrao);
}

html {
    height: 400vh;
}

header {
    width: 100%;
    padding: 0 3%;
    position: absolute;
    top: 0;
    left: 0;
}

.nav-container {
    max-width: 1080px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
}

.nav-logo > a > img {
    max-width: 60px;
}

.nav-menu {
    display: flex;
    justify-content: center;
}


.nav-menu > .nav-bar > li {
    display: inline;
}

.nav-menu > .nav-bar > li > .nav-itens {
    list-style: none;
    text-decoration: none;
    color: var(--cor2);
    margin: 0 1rem;
}

.nav-menu > .nav-bar > li > .nav-itens:hover {
    color: var(--cor3);
    transition-duration: 0.7s;
}

.buy-ticket > button {
    background-color: var(--cor3);
    padding: 0.5rem 2rem;
    border: none;
    color: var(--cor5);
    font-weight: 500;
}

.buy-ticket > button:hover {
    background-color: var(--cor2);
    transition-duration: 0.7s;
    cursor: pointer;
    border-radius: 6px;
}

.main-title {
    font-size: 3rem;
    font-weight: 500;
    color: #fff;
}

.banner-span1 {
    color: var(--cor2);
}

.banner-span2 {
    color: var(--cor3);
}

.main-text {
    color: #fff;
}

.main-banner-container {
    width: 100%;
    min-height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(images/banner.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.main-banner {
    background-color: #00000071;
    padding: 0 3%;
    padding-bottom: 2rem;
    border-radius: 15px;
}