@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@100;300;400;500;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700&display=swap');

:root{
    /*fonts*/

    --font1: 'Alegreya Sans', sans-serif;
    --font2: 'Raleway', sans-serif;

    /*colors*/

    --gray: #333333;
    --lightgray: #656E78;
    --white: #FFFFFF;
    --black: #000000;
}

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    overflow-x: hidden;
}

/*html{
    height: 500vh;
}*/

.header{
    width: 100%;
    padding: 60px 4%;
    position: fixed;
    top: 0;
    left: 0;
    transition: all 0.5s;
}

header.rolagem{
    background-color: var(--lightgray);
    padding: 20px 4%;
    z-index: 1
}

header .container{
    max-width: 1280px;
    margin: auto;
}

header .flex-header{
    display: flex;
    justify-content: center;
    align-items: center;
}

header .home-icon a i{
    color: var(--white);
    font-size: 30px;
    vertical-align: middle;
    margin-left: 60px;
    margin-right: 60px;
}

header .home-icon a i:hover{
    color: #cfcfcf;
    transition-duration: 0.5s;
}

header ul li{
    display: inline-block;
    padding: 10px 15px;
    font-weight: 700;
    font-size: 15px;
    vertical-align: middle;
}

header .nav-item{
    color: var(--white);
    text-transform: uppercase;
}

header ul li a:hover{
    color: #cfcfcf;
    transition-duration: 0.5s;
}

.banner{
    width: 100vw;
    height: 100vh;
    background-image: url(imagens/banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.banner .text-h1{
    color: var(--white);
    font-size: 80px;
    margin-top: 700px;
    font-weight: 300;
    text-transform: uppercase;
}

.banner .text-p{
    color: var(--white);
    margin-top: 20px;
    font-size: 22px;
    font-size: 300;
    text-transform: uppercase;
}

main .container-bio{
    width: 100%;
    margin: auto;
    background-color: var(--gray);
}

main .biografia{
    height: 60vh;
    max-width: 1280px;
    margin: auto;
}

main .text-h1-bio{
    display: flex;
    justify-content: center;
    padding-bottom: 1.5rem;
    padding-top: 5.5rem;
    color: var(--white);
    text-transform: uppercase;
    font-weight: 400;
}

main .text-h2-bio{
    display: flex;
    justify-content: center;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    color: var(--white);
    font-weight: 400;
    font-size: 1.2rem;
}

main .line-item{
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background-color: var(--lightgray);
    margin: 0 auto;
}

main .container-photo{
    float: left;
}

main .image{
    padding: 0 4%;
}

main .text-p-bio{
    color: var(--white);
    text-align: justify;
    padding: 0 4%;
    font-family: var(--font1);
    text-indent: 1rem;
}

main .container-video{
    background-color: var(--black);
    width: 100%;
    margin: auto;
    padding-bottom: 5.5rem;
}

main .text-h1-video{
    display: flex;
    justify-content: center;
    padding-bottom: 1.5rem;
    padding-top: 5.5rem;
    color: var(--white);
    text-transform: uppercase;
    font-weight: 400;
}

main .line-item-2{
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background-color: var(--lightgray);
    margin: 0 auto;
    margin-bottom: 1.5rem;
}

/* OS VIDEOS PRECISÃO DE AJUSTES*/


main .videos{
    max-width: 1280px; /* Define a largura máxima para o conteúdo */
    margin: 0 auto; /* Centraliza o conteúdo horizontalmente */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

main .video{
    width: calc(50% - 20px); /* Para exibir 2 vídeos por linha */
    margin: 10px;
}

@media (min-width: 768px) {
    .video {
      width: calc(33.333% - 20px); /* Para exibir 3 vídeos por linha em telas maiores */
    }
  }
  
iframe {
    width: 100%;
}

main .container-publi{
    background-image: url(imagens/banner-2.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    width: 100vw;
    height: 60vh;
    padding-bottom: 5.5rem;
    position: relative;
}

main .container-center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


main .text-h1-publi{
    display: flex;
    justify-content: center;
    padding-bottom: 1.5rem;
    color: var(--white);
    text-transform: uppercase;
    font-weight: 400;
}

main .content-publi{
    max-width: 1280px;
    margin: auto;
    padding: 0 4%;
}

main .publi{
    color: var(--white);
    background-color: #00000052;
    padding: 4% 4%;
}


/* PAREI AQUI CARROCEL DE BAIXO AINDA PRECISA DE AJUSTES*/


main .container-gallery-test{
    max-width: 1280px;
    margin: auto;
    background-color: var(--gray);
}
main .container-gallery{
    width: 100%;
    overflow-y: hidden;
    height: 60vh;
    position: relative;
    background-color: var(--gray);
}

main .container-center-video{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-bottom: 5.5rem;
  }

main .content-gallery{
    position: relative;
    padding: 15px;
    max-width: 640px;
    margin: 0 auto;
}

main .gallery-wrapper{
    overflow-y: hidden;
}

main .gallery{
    display: flex;
    flex-flow: row nowrap;
    gap: 15px;
}

main .arrow-left, .arrow-right{
    position: absolute;
    top: 0;
    left: 0;
    right: auto;
    bottom: 0;
    font-size: 45px;
    line-height: 250px;
    width: 40px;
    text-align: center;
    color: white;
    cursor: pointer;
    border: none;
    background: linear-gradient(to left, transparent 0%, black 200%);
    opacity: 0.1;
    transition: all 600ms ease-in-out;
}

main .arrow-right{
    left: auto;
    right: 0;
    background: linear-gradient(to right, transparent 0%, black 200%);
}

main .arrow-left:hover{
    opacity: 1;
}
main .arrow-right:hover{
    opacity: 1;
}

.item{
    width: 400px;
    height: 400px;
    flex-shrink: 0;
    opacity: 0.5;
    border: 2px solid var(--gray);
    transition: all 600ms ease-in-out;
}

main .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

.current-item{
    opacity: 1;
    border: 2px solid var(--lightgray);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.329);
}


footer{
    background-color: var(--black);
    width: 100vw;
    position: relative;
}

footer .container-form{
    max-width: 1280px;
    margin: auto;
}

footer .content-contact{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px 45px;
    width: 500px;
}

footer .container-center-contact{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 4%;
}

footer p{
    color: var(--white);
}

footer .text-h1-contact{
    display: flex;
    justify-content: center;
    padding-bottom: 1.5rem;
    text-transform: uppercase;
    color: var(--white);
    font-weight: 400;
    margin-top: 5.5rem;
}

footer .line-item-2{
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background-color: var(--lightgray);
    margin: 0 auto;
    margin-bottom: 1.5rem;
}

footer form{
    display: flex;
    flex-direction: column;
    width: 100%;
}

footer .group-name-cell{
    display: grid;
    grid-template-columns: 217px 1fr;
    gap: 10px;
}

footer .group-name-cell label{
    display: block;
}

footer form input{
    padding: 13px;
    margin: 10px 0px;
    border-radius: 5px;
    border: 0px;
    outline: none;
    transition: all 0.5s;
}
footer form textarea{
    padding: 13px;
    margin: 10px 0px;
    border-radius: 5px;
    border: 0px;
}

footer button{
    padding: 13px;
    cursor: pointer;
    font-weight: 500;
    font-size: 20px;
    border-radius: 15px;
    border: 0px;
    color: var(--white);
    background-color: var(--lightgray);
    transition: all 1s;
}

footer button:hover{
    background-color: var(--gray);
}

footer .container-final{
    background-color: var(--gray);
    padding: 30px 4%;
}

footer .flex-footer-final{
    display: flex;
    justify-content: center;
    align-items: center;
}

footer ul{
    display: flex;
    gap: 50px;
}

footer .text-final{
    background-color: var(--gray);
    display: flex;
    justify-content: center;
    padding: 20px;
}

footer nav ul li a{
    color: var(--white);
    font-size: 13px;
}

footer .text-final a{
    color: var(--white);
    font-weight: 700;
}
footer .text-final p{
    color: var(--white);
    font-weight: 300;
}