@charset "UTF-8";

body {
    background-color: rgb(92, 60, 0);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

h1 {
    color: aliceblue;
    background-color: rgb(39, 39, 39);
    text-align: center;
}

h2 {
    color: rgb(185, 185, 185);
}

p {
    text-align: justify;
    color: antiquewhite;
}